@import "colors";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: getColor(bg-primary);
   color: getColor(text-base);
   font-family: "Roboto", sans-serif;
   height: 100%;
   overflow-x: hidden !important;
   position: relative;
}
ul {
   margin: 0;
   padding: 0;
   li {
      list-style: none;
   }
}
a {
   text-decoration: none;
   // color: $base-color;
   &:hover {
      // color: $base-color;
   }
}
p {
   margin: 0;
   padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   // font-family: UniNeue;
   font-weight: bold;
   margin: 0;
   padding: 0;
}
.text-dark {
   color: getColor(text-deep) !important;
}
.text-dark-in {
   color: #424141 !important;
}
.text-base {
   color: getColor(text-base) !important;
}

/**
 * @todo font-size 
 * @date 12 March 2022 
 */
.fs-10 {
   font-size: 10px !important;
}
.fs-12 {
   font-size: 12px !important;
}
.fs-14 {
   font-size: 14px !important;
}
.fs-16 {
   font-size: calc(14px + (16 - 14) * (100vw - 340px) / (1400 - 340));
}
.fs-18 {
   font-size: calc(16px + (18 - 16) * (100vw - 340px) / (1400 - 340));
}
.fs-20 {
   font-size: calc(18px + (20 - 18) * (100vw - 340px) / (1400 - 340));
}
.fs-22 {
   font-size: calc(19px + (22 - 19) * (100vw - 340px) / (1400 - 340));
}
.fs-24 {
   font-size: calc(20px + (24 - 20) * (100vw - 340px) / (1400 - 340));
}
.fs-26 {
   font-size: calc(20px + (26 - 20) * (100vw - 340px) / (1400 - 340));
}
.fs-28 {
   font-size: calc(21px + (28 - 21) * (100vw - 340px) / (1400 - 340));
}
.fs-30 {
   font-size: calc(22px + (30 - 22) * (100vw - 340px) / (1400 - 340));
}
.fs-32 {
   font-size: calc(22px + (32 - 22) * (100vw - 340px) / (1400 - 340));
}
.fs-34 {
   font-size: calc(23px + (34 - 23) * (100vw - 340px) / (1400 - 340));
}
.fs-36 {
   font-size: calc(24px + (36 - 24) * (100vw - 340px) / (1400 - 340));
}
.fs-38 {
   font-size: calc(25px + (38 - 25) * (100vw - 340px) / (1400 - 340));
}
.fs-40 {
   font-size: calc(26px + (40 - 26) * (100vw - 340px) / (1400 - 340));
}
.fs-42 {
   font-size: calc(27px + (42 - 27) * (100vw - 340px) / (1400 - 340));
}
.fs-44 {
   font-size: calc(28px + (44 - 28) * (100vw - 340px) / (1400 - 340));
}
.fs-46 {
   font-size: calc(29px + (46 - 29) * (100vw - 340px) / (1400 - 340));
}
.fs-48 {
   font-size: calc(30px + (48 - 30) * (100vw - 340px) / (1400 - 340));
}
.fs-50 {
   font-size: calc(32px + (50 - 32) * (100vw - 340px) / (1400 - 340));
}
//font-width
.fw-400 {
   font-weight: 400 !important;
}
.fw-500 {
   font-weight: 500 !important;
}
.fw-600 {
   font-weight: 600 !important;
}
.fw-900 {
   font-weight: 900 !important;
}
/**
 * @todo Boxicon
 * @date 31-03-22 
 */
.menu-expand-btn {
   position: absolute;
   top: 28%;
   right: -10px;
   background: transparent;
   color: #338041;
   border: 1px solid getColor(text-deep);
   width: 25px;
   height: 25px;
   border-radius: 100%;
   text-align: center;
   padding-right: 2px;
   padding-top: 2px;
   cursor: pointer;
   &:hover {
      transform: scale(1.05);
   }
}

/**
 * @todo Boxicon
 * @date 31-03-22 
 */

.bx {
   line-height: 1.2;
}
.sidebar {
   position: absolute;
   left: 0;
   top: 0;
   height: 100vh;
   width: 280px;
   background: getColor(bg-secondary);

   .brand-logo {
      height: 68px;
      padding: 10px 15px;
      margin-bottom: 16px;
      img {
         height: 100%;
         width: auto;
      }
   }
   .all-menu {
      height: calc(100vh - (68px + 16px));
   }
   .main-menu {
      margin: 12px 0px;
      padding: 0 15px;
      .menu-title {
         font-size: 16px;
         padding: 8px 8px 2px;
         font-weight: 500;
      }
      ul {
         li {
            a {
               padding: 5px 10px;
               font-size: 14px;
               &:hover {
                  background: getColor(hover-bg);
                  border-radius: 5px;
                  i {
                     color: getColor(hover-color);
                  }
                  span {
                     color: getColor(hover-color);
                  }
               }
               i {
                  color: getColor(text-base);
                  margin-right: 12px;
                  font-size: 20px;
                  position: relative;
                  span {
                     bottom: -5px;
                     left: 86% !important;
                  }
               }
               span {
                  color: getColor(text-deep);
                  font-weight: 400;
               }
               .counter {
                  background: #dfdfdf;
                  color: getColor(text-base);
                  width: 25px;
                  border-radius: 4px;
                  text-align: center;
                  font-size: 12px;
                  font-weight: 500;
                  height: 18px;
               }
            }
         }
      }
   }
   .user-btn {
      padding: 15px;
      border-top: 1px solid getColor(hover-bg);
      cursor: pointer;
      .user-img {
         width: 40px;
         height: 40px;
         border-radius: 8px;
         border: 2px solid transparent;
         margin-right: 8px;
         padding: 2px;
         img {
            width: 100%;
            height: 100%;
            border-radius: 6px;
         }
      }
      &:hover {
         .user-img {
            border: 2px solid #e3e3e4;
         }
      }
   }
   .dropdown-menu {
      left: 101% !important;
      bottom: -99% !important;
      padding-top: 0;
      background: getColor(bg-secondary);
      li {
         .dropdown-item {
            .user-btn {
               margin: 0;
               padding: 8px 8px 8px 0;
               border-top: none;
               border-bottom: 1px solid getColor(hover-bg);
               &:hover {
                  background: transparent;
               }
               .user-img {
                  margin-right: 5px;
               }
            }
            &:hover {
               background: getColor(hover-bg);
               border-radius: 5px;
               span {
                  color: getColor(hover-color);
               }
               i {
                  color: getColor(hover-color) !important;
               }
            }
            width: auto;
            padding: 5px 8px;
            margin: 0 8px;
            color: getColor(text-deep);
         }
         &:first-child {
            .dropdown-item {
               &:hover {
                  background: transparent;
               }
               padding: 0rem;
            }
         }
      }
   }
}
.header {
   margin-left: 280px;
   background: getColor(bg-secondary);
   padding: 12px 40px;
   border-bottom: 1px solid getColor(hover-bg);
}
.content {
   margin-left: 280px;
   padding: 8px;
   .search-filter {
      align-items: center;
      .card {
         background: getColor(bg-secondary);
      }
      form {
         .form-field {
            display: flex;
            flex-direction: column;
            border: 1px solid #979da5ad;
            line-height: 1.1;
            border-radius: 4px;
            color: getColor(text-base);
            height: 48px;
            label {
               padding-top: 5px;
               padding-left: 10px;
               padding-bottom: 3px;
            }
            input {
               background: transparent;
               border: none;
               outline: none;
               color: getColor(text-deep);
               padding: 1px 10px;
               font-size: 18px;
            }
         }
         .search-btn {
            button {
               background: #007ad1;
               border: none;
               padding: 6px 10px;
               border-radius: 4px;
               font-size: 14px;
               color: #ffff;
            }
         }
      }
   }
}

/* select2 style */
.select2-results__options::-webkit-scrollbar {
   width: 5px;
}

.select2-results__options::-webkit-scrollbar-track {
   background-color: transparent;
}

.select2-results__options::-webkit-scrollbar-thumb {
   border-radius: 5px;
   background-clip: content-box;
   background-color: getColor(text-base);
}

.select2-container--default {
   .select2-dropdown {
      border: none;
      width: 100%;
      padding: 0.5rem 0;
      margin-top: 5px;
      border-radius: 6px;
      box-shadow: 0 8px 12px #24242462;
      min-width: 180px;
      line-height: 1.2;
      // background: getColor(bg-secondary);
   }
   .select2-search__field {
      background: transparent;
      color: getColor(text-deep-in);
   }

   .select2-selection--single {
      border: none;
      background-color: transparent; // margin-bottom: 5px;
   }
   .select2-container--focus .select2-selection--multiple {
      border: solid transparent 1px !important;
      outline: 0;
   }
   .select2-container--focus {
      &:focus-visible {
         border-color: transparent;
      }
   }
   .select2-selection--multiple {
      background-color: transparent;
      border: none !important;
   }
   .select2-container--open {
      .select2-dropdown--below {
         border-top-left-radius: 4px;
         border-top-right-radius: 4px;
      }
   }
   .select2-results > .select2-results__options {
      overflow-x: hidden;
   }
   .select2-search--dropdown {
      padding: 6px 10px;
      .select2-search__field {
         border: 1px solid #dee2e6;
         border-radius: 5px;
         margin: 5px 0;
      }
   }
   .select2-results__option {
      padding: 6px 10px;
      user-select: none;
      -webkit-user-select: none;
      font-size: 13px;
   }
   .select2-results__option--highlighted[aria-selected] {
      color: getColor(hover-color);
      background: getColor(hover-bg);
   }
   .select2-results__option[aria-selected="true"] {
      background: getColor(hover-bg);
      color: getColor(hover-color);
   }
   .select2-selection--single {
      // margin-top: -4px;
      .select2-selection__rendered {
         color: getColor(text-deep);
         padding: 0 10px;
         cursor: pointer;
         font-weight: 500;
         font-family: "Roboto", sans-serif;
         font-size: 18px;
         line-height: 1.2;
      }
      .select2-selection__arrow {
         right: 8px;
         top: -4px;
         b {
            margin-left: 0px;
         }
      }
   }
   .select2-sub-txt {
      font-size: 12px;
      color: getColor(text-base);
   }
   .select2-data-abbr {
      font-size: 14px;
      color: getColor(text-base);
      font-weight: 500;
   }
   .dataIcon {
      font-size: 14px;
      color: getColor(text-deep);
   }
}
