@import "colors";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: getColor(bg-primary);
   color: getColor(text-base);
   font-family: "Roboto", sans-serif;
   height: 100%;
   overflow-x: hidden !important;
   position: relative;
}
::-webkit-scrollbar {
   width: 6px;
}

::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
   border-radius: 4px;
}

::-webkit-scrollbar-thumb {
   border-radius: 4px;
   -webkit-box-shadow: inset 0 0 55px getColor(text-base);
}
@media (max-width: 768.99px) {
   ::-webkit-scrollbar {
      height: 4px;
   }

   ::-webkit-scrollbar-thumb {
      border-radius: 4px;
      -webkit-box-shadow: inset 0 0 65px $base-color;
   }
}
ul {
   margin: 0;
   padding: 0;
   li {
      list-style: none;
   }
}
a {
   text-decoration: none;
}
p {
   margin: 0;
   padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   // font-family: UniNeue;
   font-weight: bold;
   margin: 0;
   padding: 0;
}
.text-dark {
   color: getColor(text-deep) !important;
}
.text-dark-in {
   color: #424141 !important;
}
.text-base {
   color: getColor(text-base) !important;
}

/**
 * @todo font-size 
 * @date 12 March 2022 
 */
.fs-10 {
   font-size: 10px !important;
}
.fs-12 {
   font-size: 12px !important;
}
.fs-14 {
   font-size: 14px !important;
}
.fs-16 {
   font-size: calc(14px + (16 - 14) * (100vw - 340px) / (1400 - 340)) !important;
}
.fs-18 {
   font-size: calc(16px + (18 - 16) * (100vw - 340px) / (1400 - 340)) !important;
}
.fs-20 {
   font-size: calc(18px + (20 - 18) * (100vw - 340px) / (1400 - 340));
}
.fs-22 {
   font-size: calc(19px + (22 - 19) * (100vw - 340px) / (1400 - 340));
}
.fs-24 {
   font-size: calc(20px + (24 - 20) * (100vw - 340px) / (1400 - 340));
}
.fs-26 {
   font-size: calc(20px + (26 - 20) * (100vw - 340px) / (1400 - 340));
}
.fs-28 {
   font-size: calc(21px + (28 - 21) * (100vw - 340px) / (1400 - 340));
}
.fs-30 {
   font-size: calc(22px + (30 - 22) * (100vw - 340px) / (1400 - 340));
}
.fs-32 {
   font-size: calc(22px + (32 - 22) * (100vw - 340px) / (1400 - 340));
}
.fs-34 {
   font-size: calc(23px + (34 - 23) * (100vw - 340px) / (1400 - 340));
}
.fs-36 {
   font-size: calc(24px + (36 - 24) * (100vw - 340px) / (1400 - 340));
}
.fs-38 {
   font-size: calc(25px + (38 - 25) * (100vw - 340px) / (1400 - 340));
}
.fs-40 {
   font-size: calc(26px + (40 - 26) * (100vw - 340px) / (1400 - 340));
}
.fs-42 {
   font-size: calc(27px + (42 - 27) * (100vw - 340px) / (1400 - 340));
}
.fs-44 {
   font-size: calc(28px + (44 - 28) * (100vw - 340px) / (1400 - 340));
}
.fs-46 {
   font-size: calc(29px + (46 - 29) * (100vw - 340px) / (1400 - 340));
}
.fs-48 {
   font-size: calc(30px + (48 - 30) * (100vw - 340px) / (1400 - 340));
}
.fs-50 {
   font-size: calc(32px + (50 - 32) * (100vw - 340px) / (1400 - 340));
}
//font-width
.fw-400 {
   font-weight: 400 !important;
}
.fw-500 {
   font-weight: 500 !important;
}
.fw-600 {
   font-weight: 600 !important;
}
.fw-900 {
   font-weight: 900 !important;
}
/**
 * @todo Boxicon
 * @date 31-03-22 
 */
.menu-expand-btn {
   position: absolute;
   top: 28%;
   right: -10px;
   background: transparent;
   color: #338041;
   border: 1px solid getColor(text-deep);
   width: 25px;
   height: 25px;
   border-radius: 100%;
   text-align: center;
   padding-right: 2px;
   padding-top: 2px;
   cursor: pointer;
   &:hover {
      transform: scale(1.05);
   }
}

/**
 * @todo Boxicon
 * @date 31-03-22 
 */

.bx {
   line-height: 1.2;
}
/**
 * @todo Boxicon
 * @date 31-03-22 
 */
.tooltip-inner {
   max-width: 320px;
}
/**
 * @todo sidebar
 * @date 29-03-22 
 */
.sidebar {
   position: fixed;
   left: 0;
   top: 0;
   height: 100vh;
   width: 280px;
   background: getColor(bg-secondary);
   z-index: 1;

   .brand-logo {
      height: 68px;
      padding: 10px 15px;
      margin-bottom: 16px;
      img {
         height: 100%;
         width: auto;
      }
   }
   .all-menu {
      height: calc(100vh - (68px + 16px));
   }
   .main-menu {
      margin: 12px 0px;
      padding: 0 15px;
      .menu-title {
         font-size: 16px;
         padding: 8px 8px 2px;
         font-weight: 500;
      }
      ul {
         li {
            a {
               padding: 5px 10px;
               font-size: 14px;
               &:hover {
                  background: getColor(hover-bg);
                  border-radius: 5px;
                  i {
                     color: getColor(hover-color);
                  }
                  span {
                     color: getColor(hover-color);
                  }
               }
               i {
                  color: getColor(text-base);
                  margin-right: 12px;
                  font-size: 20px;
                  position: relative;
                  span {
                     bottom: -5px;
                     left: 86% !important;
                  }
               }
               span {
                  color: getColor(text-deep);
                  font-weight: 400;
               }
               .counter {
                  background: #dfdfdf;
                  color: getColor(text-base);
                  width: 25px;
                  border-radius: 4px;
                  text-align: center;
                  font-size: 12px;
                  font-weight: 500;
                  height: 18px;
               }
            }
         }
      }
   }
   .user-btn {
      padding: 15px;
      border-top: 1px solid getColor(hover-bg);
      cursor: pointer;
      .user-img {
         width: 40px;
         height: 40px;
         border-radius: 8px;
         border: 2px solid transparent;
         margin-right: 8px;
         padding: 2px;
         img {
            width: 100%;
            height: 100%;
            border-radius: 6px;
         }
      }
      &:hover {
         .user-img {
            border: 2px solid #e3e3e4;
         }
      }
   }
   .dropdown-menu {
      left: 101% !important;
      bottom: -99% !important;
      padding-top: 0;
      background: getColor(bg-secondary);
      li {
         .dropdown-item {
            .user-btn {
               margin: 0;
               padding: 8px 8px 8px 0;
               border-top: none;
               border-bottom: 1px solid getColor(hover-bg);
               &:hover {
                  background: transparent;
               }
               .user-img {
                  margin-right: 5px;
               }
            }
            &:hover {
               background: getColor(hover-bg);
               border-radius: 5px;
               span {
                  color: getColor(hover-color);
               }
               i {
                  color: getColor(hover-color) !important;
               }
            }
            width: auto;
            padding: 5px 8px;
            margin: 0 8px;
            color: getColor(text-deep);
         }
         &:first-child {
            .dropdown-item {
               &:hover {
                  background: transparent;
               }
               padding: 0rem;
            }
         }
      }
   }
}
.header {
   position: fixed;
   top: 0;
   left: 280px;
   z-index: 999;
   width: calc(100% - 280px);
   background: getColor(bg-secondary);
   padding: 12px 40px;
   border-bottom: 1px solid getColor(hover-bg);
}
.content {
   margin-left: 280px;
   margin-top: 49px;
   padding: 8px;
   .card {
      background: getColor(bg-secondary);
      // z-index: -1;
   }
   .card-header {
      border-bottom: none;
      background: getColor(bg-secondary);
   }
   .card-footer {
      border-top: none;
      background: getColor(bg-secondary);
   }
   .border-top,
   .border-end,
   .border-start,
   .border-bottom {
      border-color: getColor(hover-bg) !important;
   }
   .profile-card {
      height: 270px;
      max-height:270px ;
      .card-footer {
         padding: 0;
         div {
            width: 50%;
         }
      }
   }
   .d-card {
      height: 131px;
   }
   //@APEXCHARTS
   #line-adwords,#chart-bar,#chart-circle{
      text,span,tspan{
         fill: getColor(text-deep)!important;
         color:getColor(text-deep)!important;
      }
   }
}

.btn-primary {
   // background: linear-gradient(93deg, #53b2fe, #065af3);
   // background-color: #004f09;
   // background-image: linear-gradient(93deg, #53fe6a, #004f09);
   background: linear-gradient(to right, #2d832f, #6ddd77);

   color: #fff;
   font-weight: 500;
   border-color: #ffffff00;
   box-shadow: 0 1px 7px 0 #00000033;
   padding: 6px 16px;
   border-radius: 4px;
}
//flight ticket
.custom-badge {
   color: getColor(base);
   font-size: 11px;
   padding: 1px 5px !important;
   text-transform: uppercase;
   border: 1px getColor(base) solid;
   border-radius: 3px;
   margin-right: 10px;
   line-height: 1;
}
.flight-ticket {
   padding: 10px 15px;
   background: getColor(bg-secondary);
   .ticket-body {
      border-bottom: 1px solid #88888821;
      display: flex;
      justify-content: space-between;
      .body-left {
         display: flex;
         padding-bottom: 8px;
         border-right: 1px #88888821 solid;
      }
      .airline-details {
         width: 195px;
         margin-right: 10px;
         img {
            width: 27px;
            height: 23px;
            margin-right: 10px;
         }
         div {
            width: calc(100% - 42px);
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
         }
      }
      .from-to-details {
         width: 325px;
         .from-route,
         .to-route {
            width: 100px;
            position: relative;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
         }
         .duration-time {
            position: relative;
            hr {
               margin: 0;
               border-top: 1px dashed getColor(text-base);
               background-color: transparent;
               opacity: 0.8;
            }
            .fa-plane {
               position: absolute;
               left: -16px;
               top: 13px;
               font-size: 10px;
               color: getColor(base);
            }
            .fa-circle {
               position: absolute;
               right: -9px;
               top: 16px;
               font-size: 5px;
               color: getColor(base);
            }
         }
      }
      .body-right {
         display: flex;
         align-items: center;
         padding-bottom: 8px;
      }
   }
   .ticket-footer {
      .fare-type {
         color: getColor(base);
         font-size: 11px;
         padding: 1px 5px;
         text-transform: uppercase;
         border: 1px getColor(base) solid;
         border-radius: 3px;
         margin-right: 10px;
      }
      ul {
         li {
            margin-left: 8px;
            margin-right: 8px;
            &:last-child {
               margin-right: 0;
            }
            i {
               &:hover {
                  color: getColor(base);
               }
            }
         }
      }
   }
}
.flight-details {
   .nav-tabs {
      margin-top: 12px;
      white-space: nowrap;
      flex-wrap: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
      .nav-link {
         border: none;
         color: getColor(text-base);
         font-size: 14px;
         padding: 5px 12px;
         font-weight: 500;
      }
      .active {
         color: getColor(hover-color);
         border-bottom: 2px solid getColor(hover-color);
         background: transparent;
      }
   }
   #FlightDetails {
      .details-content {
         flex-wrap: wrap;
         justify-content: space-between;
         .left-details {
            position: relative;
            padding: 8px 22px;
            .position-absolute {
               left: 8px;
               top: 25px;
               color: getColor(base);
               border-right: 1px dashed #d8d8d8;
               height: 44px;
               .fa-plane {
                  font-size: 11px;
                  transform: rotate(90deg);
                  position: absolute;
                  top: -12px;
                  left: -5px;
               }
               .fa-circle {
                  font-size: 5px;
                  position: absolute;
                  bottom: -6px;
                  left: -2px;
               }
            }
         }
         .right-details {
            width: 200px;
            ul {
               height: 130px;
               overflow-y: hidden;
               li {
                  padding: 3px 0;
                  i {
                     font-size: 14px;
                     margin-right: 5px;
                  }
               }
            }
            .flight-show-more-btn {
               cursor: pointer;
            }
         }
      }
   }
   .tab-content {
      overflow: auto;
      table {
         width: 100%;
         white-space: nowrap;
         flex-wrap: nowrap;
         overflow-x: auto;
         overflow-y: hidden;
         thead {
            margin-top: 8px;
         }
         tr {
            color: #002441;
            font-size: 12px;
            color: getColor(text-deep);
            th {
               font-weight: 400;
               padding: 8px 10px;
               text-align: left;
            }
            td {
               border-top: 1px #dadee4 dashed;
               padding: 8px 10px;
               text-align: left;
            }
         }
      }
   }
}
.scrole-ui {
   overflow-y: scroll !important;
}
.package-card {
   padding: 10px 15px;
   background: getColor(bg-secondary);
   .card-body {
      border-bottom: 1px solid #88888821;
      display: flex;
      justify-content: space-between;
      padding: 0;
      .package-details {
         display: flex;
         padding-bottom: 8px;
         padding-right: 8px;
         border-right: 1px #88888821 solid;
         width: calc(100% - 225px);
         .package-image {
            img {
               width: 160px;
               height: 100px;
               object-fit: cover;
               border-radius: 4px;
            }
            padding-right: 10px;
         }
         .package-name {
            white-space: nowrap;
            width: 390px;
            overflow: hidden;
            text-overflow: ellipsis;
         }
      }
      .pricing {
         display: flex;
         align-items: center;
         justify-content: flex-end;
         flex-wrap: wrap;
         padding-bottom: 8px;
         min-width: 220px;
         .price {
            text-align: end;
         }
      }
   }
   .card-footer {
      padding: 0;
      border-top: none;
      background: transparent;
      .fare-type {
         color: getColor(base);
         font-size: 11px;
         padding: 1px 5px;
         text-transform: uppercase;
         border: 1px getColor(base) solid;
         border-radius: 3px;
         margin-right: 10px;
      }
      ul {
         li {
            margin-left: 8px;
            margin-right: 8px;
            &:last-child {
               margin-right: 0;
            }
            i {
               &:hover {
                  color: getColor(base);
               }
            }
         }
      }
   }
}

@media only screen and (max-width: 1339.98px) {
   .flight-ticket {
      .ticket-body {
         .body-left {
            flex-direction: column;
         }
         .from-to-details {
            width: 420px;
            margin-top: 5px;
         }
      }
   }
}
@media only screen and (max-width: 1129.98px) {
   .package-card {
      .card-body {
         flex-direction: column;
         .package-details {
            width: 100%;
            border-right: none;
            .package-name {
               width: calc(100%);
            }
         }
         .pricing {
            padding-top: 8px;
            justify-content: space-between;
            .price {
               text-align: left;
            }
         }
      }
   }
}
@media only screen and (max-width: 768.98px) {
   .flight-ticket {
      .ticket-body {
         flex-direction: column;
         .body-left {
            border-right: none;
         }
         .from-to-details {
            width: 100%;
         }
         .body-right {
            justify-content: space-between;
            .text-end {
               text-align: left !important;
            }
         }
      }
   }
   .flight-details {
      .nav-tabs {
         .active {
            border-bottom: none;
         }
      }
   }
}

@media only screen and (max-width: 418.98px) {
   .flight-ticket {
      .ticket-body {
         .from-to-details {
            .duration-time {
               max-width: 55px;
            }
         }
      }
      .ticket-footer {
         .align-items-center {
            width: 100%;
            justify-content: space-between;
         }
         .fw-500 {
            width: 100%;
            justify-content: space-between;
            margin-top: 4px;
         }
      }
   }
}

/* select2 style */

.select2-container--default {
   .select2-dropdown {
      border: none;
      width: 100%;
      padding: 0.5rem 0;
      margin-top: 5px;
      border-radius: 6px;
      box-shadow: 0 8px 12px #24242462;
      min-width: 180px;
      line-height: 1.2;
      // background: getColor(bg-secondary);
   }
   .select2-search__field {
      background: transparent;
      color: getColor(text-deep-in);
   }

   .select2-selection--single {
      border: none;
      background-color: transparent; // margin-bottom: 5px;
   }
   .select2-container--focus .select2-selection--multiple {
      border: solid transparent 1px !important;
      outline: 0;
   }
   .select2-container--focus {
      &:focus-visible {
         border-color: transparent;
      }
   }
   .select2-selection--multiple {
      background-color: transparent;
      border: none !important;
   }
   .select2-container--open {
      .select2-dropdown--below {
         border-top-left-radius: 4px;
         border-top-right-radius: 4px;
      }
   }
   .select2-results > .select2-results__options {
      overflow-x: hidden;
   }
   .select2-search--dropdown {
      padding: 6px 10px;
      .select2-search__field {
         border: 1px solid #dee2e6;
         border-radius: 5px;
         margin: 5px 0;
      }
   }
   .select2-results__option {
      padding: 6px 10px;
      user-select: none;
      -webkit-user-select: none;
      font-size: 13px;
   }
   .select2-results__option--highlighted[aria-selected] {
      color: getColor(hover-color);
      background: getColor(hover-bg);
   }
   .select2-results__option[aria-selected="true"] {
      background: getColor(hover-bg);
      color: getColor(hover-color);
   }
   .select2-selection--single {
      // margin-top: -4px;
      .select2-selection__rendered {
         color: getColor(text-deep);
         padding: 0 10px;
         cursor: pointer;
         font-weight: 500;
         font-family: "Roboto", sans-serif;
         font-size: 18px;
         line-height: 1.2;
      }
      .select2-selection__arrow {
         right: 8px;
         top: -4px;
         b {
            margin-left: 0px;
         }
      }
   }
   .select2-sub-txt {
      font-size: 12px;
      color: getColor(text-base);
   }
   .select2-data-abbr {
      font-size: 14px;
      color: getColor(text-base);
      font-weight: 500;
   }
   .dataIcon {
      font-size: 14px;
      color: getColor(text-deep);
   }
}
