@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
.text-primary {
  color: #004f09 !important;
}

:root {
  --color-bg-primary: #dfdfdf;
  --color-bg-secondary: #fff;
  --color-base: #11703b;
  --color-text-base: #979da5;
  --color-text-deep: #424141;
  --color-text-deep-in: #424141;
  --color-text-white: #ffffff;
  --color-bg-footer-w: #f7f7f7;
  --color-bg-footer: #1a1f22;
  --color-text-deep-f: #ffff;
  --color-hover-bg: #EAF9F2;
  --color-hover-color: #009F6E;
  --theme: "light";
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg-primary: #212529;
    --color-bg-secondary: rgba(95, 95, 95, 0.301);
    --color-base: #11703b;
    --color-text-deep: #fff;
    --color-bg-footer: #1a1f22;
    --color-text-deep-f: #fff;
    --color-hover-bg: #327d3e;
    --color-hover-color: #f8f8f8;
    --theme: "dark";
  }
}

.text-base {
  color: var(--color-text-base);
}

.color-indigo-300 {
  color: #a970f0 !important;
}

.color-blue-300 {
  color: #59AAF8 !important;
}

.color-purple-300 {
  color: #AD8ED5 !important;
}

.color-pink-300 {
  color: #F381B2 !important;
}

.color-red-300 {
  color: #F8818F !important;
}

.color-orange-300 {
  color: #FFAF7A !important;
}

.color-yellow-300 {
  color: #FFD879 !important;
}

.color-green-300 {
  color: #62B89A !important;
}

.color-teal-300 {
  color: #53E1C3 !important;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: var(--color-bg-primary);
  color: var(--color-text-base);
  font-family: "Roboto", sans-serif;
  height: 100%;
  overflow-x: hidden !important;
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.text-dark {
  color: var(--color-text-deep) !important;
}

.text-dark-in {
  color: #424141 !important;
}

.text-base {
  color: var(--color-text-base) !important;
}

/**
 * @todo font-size 
 * @date 12 March 2022 
 */
.fs-10 {
  font-size: 10px !important;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-16 {
  font-size: calc(14px + (16 - 14) * (100vw - 340px) / (1400 - 340));
}

.fs-18 {
  font-size: calc(16px + (18 - 16) * (100vw - 340px) / (1400 - 340));
}

.fs-20 {
  font-size: calc(18px + (20 - 18) * (100vw - 340px) / (1400 - 340));
}

.fs-22 {
  font-size: calc(19px + (22 - 19) * (100vw - 340px) / (1400 - 340));
}

.fs-24 {
  font-size: calc(20px + (24 - 20) * (100vw - 340px) / (1400 - 340));
}

.fs-26 {
  font-size: calc(20px + (26 - 20) * (100vw - 340px) / (1400 - 340));
}

.fs-28 {
  font-size: calc(21px + (28 - 21) * (100vw - 340px) / (1400 - 340));
}

.fs-30 {
  font-size: calc(22px + (30 - 22) * (100vw - 340px) / (1400 - 340));
}

.fs-32 {
  font-size: calc(22px + (32 - 22) * (100vw - 340px) / (1400 - 340));
}

.fs-34 {
  font-size: calc(23px + (34 - 23) * (100vw - 340px) / (1400 - 340));
}

.fs-36 {
  font-size: calc(24px + (36 - 24) * (100vw - 340px) / (1400 - 340));
}

.fs-38 {
  font-size: calc(25px + (38 - 25) * (100vw - 340px) / (1400 - 340));
}

.fs-40 {
  font-size: calc(26px + (40 - 26) * (100vw - 340px) / (1400 - 340));
}

.fs-42 {
  font-size: calc(27px + (42 - 27) * (100vw - 340px) / (1400 - 340));
}

.fs-44 {
  font-size: calc(28px + (44 - 28) * (100vw - 340px) / (1400 - 340));
}

.fs-46 {
  font-size: calc(29px + (46 - 29) * (100vw - 340px) / (1400 - 340));
}

.fs-48 {
  font-size: calc(30px + (48 - 30) * (100vw - 340px) / (1400 - 340));
}

.fs-50 {
  font-size: calc(32px + (50 - 32) * (100vw - 340px) / (1400 - 340));
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-900 {
  font-weight: 900 !important;
}

/**
 * @todo Boxicon
 * @date 31-03-22 
 */
.menu-expand-btn {
  position: absolute;
  top: 28%;
  right: -10px;
  background: transparent;
  color: #338041;
  border: 1px solid var(--color-text-deep);
  width: 25px;
  height: 25px;
  border-radius: 100%;
  text-align: center;
  padding-right: 2px;
  padding-top: 2px;
  cursor: pointer;
}

.menu-expand-btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

/**
 * @todo Boxicon
 * @date 31-03-22 
 */
.bx {
  line-height: 1.2;
}

.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 280px;
  background: var(--color-bg-secondary);
}

.sidebar .brand-logo {
  height: 68px;
  padding: 10px 15px;
  margin-bottom: 16px;
}

.sidebar .brand-logo img {
  height: 100%;
  width: auto;
}

.sidebar .all-menu {
  height: calc(100vh - (68px + 16px));
}

.sidebar .main-menu {
  margin: 12px 0px;
  padding: 0 15px;
}

.sidebar .main-menu .menu-title {
  font-size: 16px;
  padding: 8px 8px 2px;
  font-weight: 500;
}

.sidebar .main-menu ul li a {
  padding: 5px 10px;
  font-size: 14px;
}

.sidebar .main-menu ul li a:hover {
  background: var(--color-hover-bg);
  border-radius: 5px;
}

.sidebar .main-menu ul li a:hover i {
  color: var(--color-hover-color);
}

.sidebar .main-menu ul li a:hover span {
  color: var(--color-hover-color);
}

.sidebar .main-menu ul li a i {
  color: var(--color-text-base);
  margin-right: 12px;
  font-size: 20px;
  position: relative;
}

.sidebar .main-menu ul li a i span {
  bottom: -5px;
  left: 86% !important;
}

.sidebar .main-menu ul li a span {
  color: var(--color-text-deep);
  font-weight: 400;
}

.sidebar .main-menu ul li a .counter {
  background: #dfdfdf;
  color: var(--color-text-base);
  width: 25px;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  height: 18px;
}

.sidebar .user-btn {
  padding: 15px;
  border-top: 1px solid var(--color-hover-bg);
  cursor: pointer;
}

.sidebar .user-btn .user-img {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 2px solid transparent;
  margin-right: 8px;
  padding: 2px;
}

.sidebar .user-btn .user-img img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.sidebar .user-btn:hover .user-img {
  border: 2px solid #e3e3e4;
}

.sidebar .dropdown-menu {
  left: 101% !important;
  bottom: -99% !important;
  padding-top: 0;
  background: var(--color-bg-secondary);
}

.sidebar .dropdown-menu li .dropdown-item {
  width: auto;
  padding: 5px 8px;
  margin: 0 8px;
  color: var(--color-text-deep);
}

.sidebar .dropdown-menu li .dropdown-item .user-btn {
  margin: 0;
  padding: 8px 8px 8px 0;
  border-top: none;
  border-bottom: 1px solid var(--color-hover-bg);
}

.sidebar .dropdown-menu li .dropdown-item .user-btn:hover {
  background: transparent;
}

.sidebar .dropdown-menu li .dropdown-item .user-btn .user-img {
  margin-right: 5px;
}

.sidebar .dropdown-menu li .dropdown-item:hover {
  background: var(--color-hover-bg);
  border-radius: 5px;
}

.sidebar .dropdown-menu li .dropdown-item:hover span {
  color: var(--color-hover-color);
}

.sidebar .dropdown-menu li .dropdown-item:hover i {
  color: var(--color-hover-color) !important;
}

.sidebar .dropdown-menu li:first-child .dropdown-item {
  padding: 0rem;
}

.sidebar .dropdown-menu li:first-child .dropdown-item:hover {
  background: transparent;
}

.header {
  margin-left: 280px;
  background: var(--color-bg-secondary);
  padding: 12px 40px;
  border-bottom: 1px solid var(--color-hover-bg);
}

.content {
  margin-left: 280px;
  padding: 8px;
}

.content .search-filter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .search-filter .card {
  background: var(--color-bg-secondary);
}

.content .search-filter form .form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #979da5ad;
  line-height: 1.1;
  border-radius: 4px;
  color: var(--color-text-base);
  height: 48px;
}

.content .search-filter form .form-field label {
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 3px;
}

.content .search-filter form .form-field input {
  background: transparent;
  border: none;
  outline: none;
  color: var(--color-text-deep);
  padding: 1px 10px;
  font-size: 18px;
}

.content .search-filter form .search-btn button {
  background: #007ad1;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 14px;
  color: #ffff;
}

/* select2 style */
.select2-results__options::-webkit-scrollbar {
  width: 5px;
}

.select2-results__options::-webkit-scrollbar-track {
  background-color: transparent;
}

.select2-results__options::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-clip: content-box;
  background-color: var(--color-text-base);
}

.select2-container--default .select2-dropdown {
  border: none;
  width: 100%;
  padding: 0.5rem 0;
  margin-top: 5px;
  border-radius: 6px;
  -webkit-box-shadow: 0 8px 12px #24242462;
          box-shadow: 0 8px 12px #24242462;
  min-width: 180px;
  line-height: 1.2;
}

.select2-container--default .select2-search__field {
  background: transparent;
  color: var(--color-text-deep-in);
}

.select2-container--default .select2-selection--single {
  border: none;
  background-color: transparent;
}

.select2-container--default .select2-container--focus .select2-selection--multiple {
  border: solid transparent 1px !important;
  outline: 0;
}

.select2-container--default .select2-container--focus:focus-visible {
  border-color: transparent;
}

.select2-container--default .select2-selection--multiple {
  background-color: transparent;
  border: none !important;
}

.select2-container--default .select2-container--open .select2-dropdown--below {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.select2-container--default .select2-results > .select2-results__options {
  overflow-x: hidden;
}

.select2-container--default .select2-search--dropdown {
  padding: 6px 10px;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #dee2e6;
  border-radius: 5px;
  margin: 5px 0;
}

.select2-container--default .select2-results__option {
  padding: 6px 10px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  font-size: 13px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  color: var(--color-hover-color);
  background: var(--color-hover-bg);
}

.select2-container--default .select2-results__option[aria-selected="true"] {
  background: var(--color-hover-bg);
  color: var(--color-hover-color);
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: var(--color-text-deep);
  padding: 0 10px;
  cursor: pointer;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.2;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  right: 8px;
  top: -4px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  margin-left: 0px;
}

.select2-container--default .select2-sub-txt {
  font-size: 12px;
  color: var(--color-text-base);
}

.select2-container--default .select2-data-abbr {
  font-size: 14px;
  color: var(--color-text-base);
  font-weight: 500;
}

.select2-container--default .dataIcon {
  font-size: 14px;
  color: var(--color-text-deep);
}
/*# sourceMappingURL=main.css.map */